#entryfield {
    background-color: white;
    border: 3px solid black;
    border-radius: 2vh;
    height: 45vh;
    width: 30vw;
}

#key {
    margin-top: 20px;
}

#submit {
    display: flex;
    align-self: center;
    border-radius: 2vh; 
    height: 50px;
    width: 125px;
}

#encrypted {
    background-color: white;
    border: 3px solid black;
    border-radius: 2vh;
    height: 45vh;
    width: 30vw;
}